Source: tulio-web-terminal
Package: tulio-web-terminal
Priority: optional
Version: 1.0.5
Section: admin
Maintainer: TulioCP <info@tuliocp.com>
Homepage: https://www.tuliocp.com
Architecture: amd64
Depends: tulio, nodejs (>= 20.0.0)
Description: TulioCP web terminal
 WebSocket service that provides the in-browser terminal of the TulioCP web
 hosting control panel.
 .
 TulioCP is an independently maintained fork of Hestia Control Panel, which is
 itself a fork of Vesta Control Panel. It is not affiliated with, nor endorsed
 by, either project.
